<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns="http://www.w3.org/TR/REC-html40"><head><meta http-equiv=Content-Type content="text/html; charset=iso-8859-1"><meta name=Generator content="Microsoft Word 15 (filtered medium)"><!--[if !mso]><style>v\:* {behavior:url(#default#VML);}
    o\:* {behavior:url(#default#VML);}
    w\:* {behavior:url(#default#VML);}
    .shape {behavior:url(#default#VML);}
    </style><![endif]--><style><!--
        /* Font Definitions */
        @font-face
        {font-family:"Cambria Math";
            panose-1:2 4 5 3 5 4 6 3 2 4;}
        @font-face
        {font-family:Calibri;
            panose-1:2 15 5 2 2 2 4 3 2 4;}
        @font-face
        {font-family:Verdana;
            panose-1:2 11 6 4 3 5 4 4 2 4;}
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal
        {margin:0cm;
            margin-bottom:.0001pt;
            font-size:11.0pt;
            font-family:"Calibri",sans-serif;
            mso-fareast-language:EN-US;}
        a:link, span.MsoHyperlink
        {mso-style-priority:99;
            color:#0563C1;
            text-decoration:underline;}
        a:visited, span.MsoHyperlinkFollowed
        {mso-style-priority:99;
            color:#954F72;
            text-decoration:underline;}
        span.EstiloDeEmail17
        {mso-style-type:personal-compose;
            font-family:"Calibri",sans-serif;
            color:windowtext;}
        .MsoChpDefault
        {mso-style-type:export-only;
            font-family:"Calibri",sans-serif;
            mso-fareast-language:EN-US;}
        @page WordSection1
        {size:612.0pt 792.0pt;
            margin:70.85pt 3.0cm 70.85pt 3.0cm;}
        div.WordSection1
        {page:WordSection1;}
        --></style><!--[if gte mso 9]><xml>
        <o:shapedefaults v:ext="edit" spidmax="1026" />
    </xml><![endif]--><!--[if gte mso 9]><xml>
        <o:shapelayout v:ext="edit">
            <o:idmap v:ext="edit" data="1" />
        </o:shapelayout></xml><![endif]--></head><body lang=PT-BR link="#0563C1" vlink="#954F72"><div class=WordSection1><p class=MsoNormal>

        {{ mensagem|raw }}

        <o:p></o:p></p><p class=MsoNormal><o:p>&nbsp;</o:p></p><table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 align=left width=0 style='width:484.0pt;border-collapse:collapse;margin-left:4.8pt;margin-right:4.8pt'><tr style='height:49.65pt'><td width=284 valign=top style='width:212.65pt;padding:0cm 3.5pt 0cm 3.5pt;height:49.65pt'><p class=MsoNormal style='mso-element:frame;mso-element-frame-hspace:7.05pt;mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:column;mso-height-rule:exactly'><span style='color:#1F497D;mso-fareast-language:PT-BR'><img width=271 height=69 id="Imagem_x0020_1" src="{{ absolute_url(asset('image/image.png')) }}" alt="cid:image001.png@01D19B24.1190B840"><o:p></o:p></span></p></td><td width=362 valign=top style='width:271.35pt;padding:0cm 3.5pt 0cm 3.5pt;height:49.65pt'><p class=MsoNormal style='mso-element:frame;mso-element-frame-hspace:7.05pt;mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:column;mso-height-rule:exactly'><b><span style='font-size:10.0pt;font-family:"Verdana",sans-serif;color:black;mso-fareast-language:PT-BR'>Tecnologia CEADIS - Sistemas</span></b><b><span style='font-size:9.0pt;font-family:"Verdana",sans-serif;color:black;mso-fareast-language:PT-BR'><br></span></b><b><span style='font-size:1.0pt;font-family:"Verdana",sans-serif;color:black;mso-fareast-language:PT-BR'><br></span></b><span style='font-size:8.0pt;font-family:"Verdana",sans-serif;color:black;mso-fareast-language:PT-BR'>Suporte Sistemas <br></span><b><span style='font-size:1.0pt;font-family:"Verdana",sans-serif;color:black;mso-fareast-language:PT-BR'><br></span></b><span style='font-size:6.0pt;font-family:"Verdana",sans-serif;color:black;mso-fareast-language:PT-BR'>CEADIS<br></span><b><span style='font-size:1.0pt;font-family:"Verdana",sans-serif;color:black;mso-fareast-language:PT-BR'><br>________________________________________________________________________________________________________________________________________________ __________________________________________________________________________________________________________________________________________________________________________<br><br></span></b><span style='font-size:7.0pt;font-family:"Verdana",sans-serif;color:#1F497D;mso-fareast-language:PT-BR'><a href="mailto:sistemas.oc@ceadis.org.br"><span style='color:#0563C1'>sistemas.oc@ceadis.org.br</span></a></span><span style='font-size:7.0pt;font-family:"Verdana",sans-serif;color:black;mso-fareast-language:PT-BR'> | (11) 3646-5627</span><span style='font-size:8.0pt;font-family:"Verdana",sans-serif;color:black;mso-fareast-language:PT-BR'><o:p></o:p></span></p><p class=MsoNormal style='mso-element:frame;mso-element-frame-hspace:7.05pt;mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:column;mso-height-rule:exactly'><b><span style='font-size:1.0pt;font-family:"Verdana",sans-serif;color:black;mso-fareast-language:PT-BR'><br></span></b><span style='font-size:7.0pt;font-family:"Verdana",sans-serif;color:black;mso-fareast-language:PT-BR'>Avenida Engenheiro Roberto Zuccolo, 21 - São Paulo &#8211; SP<o:p></o:p></span></p></td></tr><tr style='height:18.6pt'><td width=645 colspan=2 valign=top style='width:484.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:18.6pt'><p class=MsoNormal style='mso-element:frame;mso-element-frame-hspace:7.05pt;mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:column;mso-height-rule:exactly'><span style='color:#1F497D;mso-fareast-language:PT-BR'><img border=0 width=628 height=25 id="Imagem_x0020_2" src="cid:image002.jpg@01D45BDF.3CC11B30" alt="cid:image003.jpg@01D18E89.2C44B8A0"></span><span style='color:#1F497D;mso-fareast-language:PT-BR'><o:p></o:p></span></p></td></tr></table><p class=MsoNormal><span style='mso-fareast-language:PT-BR'><o:p>&nbsp;</o:p></span></p><p class=MsoNormal><o:p>&nbsp;</o:p></p></div></body></html>