{% extends "::view.html.twig" %}

{% block title %}Escalas{% endblock %}

{% block page_title %}Escalas dos Sábados {% endblock %}

{% block page_content %}

    <div class="box">
        <div class="box-header">
        </div>

        <div class="box-body">

            <div>
                <table class="table table-bordered table-striped table-responsive table-condensed table-hover table-datatable">
                    <thead>
                    <tr>
                        <th>Data</th>
                        <th>Usuário</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for user in users %}
                        <tr>
                            {% for item in user %}

                                <td>{{ item }}</td>

                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>

        </div>

    </div>


{% endblock %}

{% block javascripts %}
{{ parent() }}

    <script>
        $(".table-datatable").DataTable({
            "order": [],
            "oLanguage": {
                "oPaginate":{
                    "sPrevious": "Anterior ",
                    "sNext": " Proximo "
                },
                "sLengthMenu": "Mostrar _MENU_ resultado(s)",
                "sSearch": "Pesquisar: ",
                "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ resultado(s)",
                "sInfoFiltered": "(Total: _MAX_ )",
                "sZeroRecords": "Resultado nao encontrado",
                "sInfoEmpty": "Sem resultados"
            }
        });

    </script>


{% endblock %}
